*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: jameel noori nastaleeq;
}

.header{
    width: 100%;
    height: 100vh;
    padding: 0 10%;
    background: #f7efef;
}
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    position: relative;
    z-index: 100;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin:10px  30px;
    font-size: 18px;
}

nav ul li a {
    text-decoration:none ;
    color:#3f51b5 ;
}
.text-box{
    margin-top: 130px;
    max-width: 600px;
}

.text-box h1{
     font-size: 55px;
     margin-bottom: 20px;
     color: #3f51b5;
}
.text-box a{
    display: inline-block;
    text-decoration: none;
    color:#fff ;
    background: #3f51b5;
    padding:10px 30px ;
    font-size: 18px;
    margin-top: 50px;
    border-radius: 6px;
}

.text-box h2{
    font-size: 30px;
    margin-bottom: 20px;
    color: #3f51b5;
}

.user-box{
    background:#d9e0ff ;
    position: absolute;
    top: 0;
    right: 9%;
    z-index: 2;
}

.user-box{
    display: block;
    padding-top: 100px;
    width: 480px;
    margin-bottom: -205px;
}
body, html {
    height: 100%;
    margin: 0;
  }
  
  .bg {
    /* The image used */
    background-image: url("2ahy7pb.jpg");
  
    /* Full height */
    height: 50%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  body {
    background: #555;
  }
  
  .content {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 10px;
    background-image:
     url(istockphoto-1316899269-170667a.jpg);
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }

